@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.homePageh1 {
  padding: 20px 0;
  margin: 20px 0;
}

.homePageh3 {
  padding: 20px 0;
  margin: 20px 0;
}

.playerFormh1 {
  margin: 55px 0 10px 0;
}

.playerFormh2 {
  padding: 20px 0;
}

.playerCardContainer {
  display: flex;
  flex-wrap: wrap;
}

.addteamButtonDiv {
  display: flex;
  justify-content: center;
}

.addteamButton {
  align-items: center;
}

.addplayerButton {
  margin: 40px 0;
}

.teamCardImage {
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
}

.playerDetailsTeamText {
  margin: 40px; 
  padding: 20px; 
}

.playerDetailsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1085px) {
  .signOutButton {
    margin-left: 500px;
  }  
}

@media screen and (min-width: 1085px) {
  .signOutButton {
    margin-left: 800px;
  }  
}
